PORT=3000

# Email Configuration (Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=arshathrafi477@gmail.com
EMAIL_PASS=utbo htkk cdvt tvxz
EMAIL_FROM="OTP Service <arshathrafi477@gmail.com>"

# OTP Configuration
OTP_LENGTH=6
OTP_EXPIRY_MINUTES=10
